<h1 class="logo">GEOGAME</h1>
<div class="flex-container">
  <form action="/auth/login" method="POST" id="form-container">
    <label for="username">Email</label>
    <input id="username" type="username" name="username" placeholder="Your email">

    <br><br>

    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Your password">
    <br> {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <br><br>

    <button class="btn-login">Login</button>

    <p class="account-message">
      Don't have an account yet?
      <a href="/auth/signup">Signup</a>
    </p>
  </form>

</div>