<h3>Your Private games</h3>

<div class="flex-container">
    <img src="http://placeimg.com/50/50/any" alt="">
    <img src="http://placeimg.com/50/50/any" alt="">
    <img src="http://placeimg.com/50/50/any" alt="">
</div>

<form action="">
    <input type="text" name="enter-code" id="enter-code" placeholder="Enter Code">
    <button type="submit">Enter</button>
</form>

<h3>Suggested games</h3>

<div class="flex-container">
    <img src="http://placeimg.com/50/50/any" alt="">
    <img src="http://placeimg.com/50/50/any" alt="">
    <img src="http://placeimg.com/50/50/any" alt="">
</div>

<div class="flex-container">
    <img src="http://placeimg.com/50/50/any" alt="">
    <img src="http://placeimg.com/50/50/any" alt="">
    <img src="http://placeimg.com/50/50/any" alt="">
</div>