<!DOCTYPE html>
<html>

<head>
  <title>GEOGAME</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/mobile-menu.css">
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="png" href="/images/icons8-google-images-48.png" />


</head>

<body>


  <nav class="navigation fade-in">
    <ul>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/creator/creator-overview">Create</a></li>
      <li><a href="/player/player-overview">Play</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/player/history">History</a></li>
    </ul>

  </nav>

  {{{body}}}
  <script src='/javascripts/animate.js'></script>
  <script src='/javascripts/script.js'></script>

  <!--
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUB1BdCnZ0WBG2AbnRjQ6WzeL_lI8geqw&callback=initMap">
    </script>-->

</body>

</html>