<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Create a game</a></li>
      <li><a href="">Play a game</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>

  </nav>

  {{{body}}}

  <script src='/javascripts/script.js'></script>
</body>

</html>