<style>
  body {
    background: url("/images/creator1.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>


<h1>Email was successfully sent! ✔</h1>

<a href="/creator/creator-overview"><button class="btn-next">Return Home
  </button></a>