* {
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
}
body {
    font: 15px 'Julius Sans One', sans-serif, Helvetica, Arial, sans-serif;
    margin: 0;
}

.logo {
    margin: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.logo-title {
    font-size: 6em;
    margin-top: 20px;
    margin-bottom: 10px;
}

#email,
#password {
    text-align: center;
    margin-left: 20px;
    width: 150px;
    height: 30px;
    background-color: transparent;
    color: white;
    border: 2px solid #cf009c;
    border-radius: 7px;
}
::placeholder {
    color: darkblue;
}

.btn-login,
.btn-signup {
    width: 200px;
    height: 30px;
    background-color: #cf009c;
    border: 2px solid #cf009c;
    border-radius: 12px;
    color: white;
    margin-bottom: 10px;
}

.btn-signup:hover,
.btn-login:hover {
    background-color: #00b7ff;
    border: 2px solid #00b7ff;
}

a {
    color: #00b7ff;
    font-weight: bolder;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #00b7ff;
}

nav {
    height: 30px;
}

h1,
h2,
h3,
h4 {
    color: #fff;
    font-weight: bold;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container-col {
    height: calc(100vh - 30px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    color: white;
}

#form-container {
    background-image: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.6));
    border-radius: 7px;
    padding: 0 30px;
    text-align: center;
    color: darkblue;
}

.flex-container-game {
    margin-left: 50px;
    width: 450px;
}

#form-container-game {
    margin-top: 40px;
    background-image: linear-gradient(to top, transparent, rgba(255, 255, 255, 1));
    height: 300px;
    border-radius: 7px;
    padding: 20px 30px;
    text-align: center;
    color: black;
}

.align {
    text-align: right;
}

#first {
    padding-right: 10px;
}

.account-message {
    color: #00b7ff;
    font-size: 0.9em;
}

.first-flex-item {
    margin-bottom: auto;
    padding-top: 40px;
}

.last-flex-item {
    margin-bottom: 40px;
    margin-top: auto;
}

@media only screen and (max-width: 768px) {
    body {
        font: 10px 'Julius Sans One', sans-serif, Helvetica, Arial, sans-serif;
    }
    .logo {
        font-size: 0.7em;
        margin: 40px;
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
    }
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

input:hover,
input:focus {
    opacity: 0.7;
    color: #08c;
    border: 1px solid #08c;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25), inset 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.btn-newGame {
    width: 200px;
    height: 60px;
    background-color: #00b7ff;
    border: 2px solid #00b7ff;
    border-radius: 12px;
    color: white;
    font-size: 1em;
    margin-bottom: 10px;
}

.btn-newGame:hover {
    background-color: #cf009c;
    border: 2px solid #cf009c;
}

.btn-next {
    width: 100px;
    height: 30px;
    background-color: #00b7ff;
    border: 2px solid #00b7ff;
    border-radius: 12px;
    color: white;
    font-size: 1em;
    margin-bottom: 10px;
}

.btn-next:hover {
    background-color: #cf009c;
    border: 2px solid #cf009c;
}
#game-intro {
    margin-top: 150px;
    text-align: center;
    color: white;
    font-size: 1.5em;
}

#game-intro h1 {
    font-size: 2.5em;
    margin-bottom: 25px;
}

.game-title {
    color: #cf009c;
}

.btn-play {
    width: 200px;
    height: 60px;
    background-color: #00b7ff;
    border: 2px solid #00b7ff;
    border-radius: 12px;
    color: white;
    font-size: 1em;
    margin: 100px;
}

.btn-play:hover {
    background-color: #cf009c;
    border: 2px solid #cf009c;
}
