<style>
  body {
    background: url("/images/creator1.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div class="flex-container-game">
  <form action="/creator/{{this.id}}/add-task" method="post" id="form-container-game">
    <h2>Step 2 - Add task</h2>
    <input class="input-style" placeholder="Enter a title" type="text" name="title"><br>
    <input class="input-style" type="text" id="location" name="location" placeholder="Enter a location"><br>
    <textarea class="input-style" name="description" placeholder="Put your task description here."></textarea><br>
    <button type="button" onclick="history.back()" class="btn-next">Cancel</button>
    <button class="btn-next" type="submit">Save</button>
  </form>
</div>




<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUB1BdCnZ0WBG2AbnRjQ6WzeL_lI8geqw&libraries=places&callback=initAutocomplete"
  async defer></script>