<a href="/creator/game-details"><button>NEW GAME</button></a>

<h3>Created Games</h3>

<p>list of games</p>

{{#if games}}
{{#each games}}
<a href="/creator/{{this._id}}/edit-game-details">{{this.title}}</a>
<br>
<br>
{{/each}}
{{/if}}