<style>
  body {
    background: url("/images/creator2.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div>
  <h3>Created Games</h3>

  <p>list of games</p>
  <a href="/creator/game-details"><button class="btn-newGame">NEW GAME</button></a>


</div>