<style>
  body {
    background: url("/images/creator2.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>


<div class="flex-container-col fade-in">
  <h1 class="first-flex-item">Created Games</h1> <br />
  <h2>Your games</h2> <br /> {{#if games}} {{#each games}}
  <a href="/creator/{{this._id}}/edit-game-details">{{this.title}}</a>
  <br>
  <br> {{/each}} {{/if}}
  <a href="/creator/game-details" class="last-flex-item"><button class="btn-newGame">NEW GAME</button></a>



</div>