<h2>Edit Game Details</h2>

<form action="/creator/{{game._id}}/edit-game-details" method="post">
  <div class="flex-container-col fade-in">
    <label for="title">Game Title</label>
    <input class="game-details-input" type="text" name="title" id="game-title" value="{{game.title}}">
    <label for="description">Description:</label>
    <input class="game-details-input" type="text" name="description" id="game-description" value="{{game.description}}">
    <div>
      <label for="private">Private?</label>
      <input type="checkbox" name="private" id="game-privacy" value="{{game.private}}">
    </div>
    <button class="game-details-btn" type="submit">Submit</button>
  </div>
</form>