<style>
  body {
    background: url("/images/creator1.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>



<div class="flex-container-game">

  <form action="/creator/game-details" method="post" id="form-container-game">
    <h2>Step 1 - Game Details</h2>
    <label for="title">Game Title</label>
    <input type="text" name="title" id="game-title"><br>
    <label for="description">Description:</label>
    <input type="text" name="description" id="game-description"><br>
    <label for="private">Private?</label>
    <input type="checkbox" name="private" id="game-privacy"><br>
    <button type="submit" class="btn-next">Tasks</button>
  </form>

</div>