<style>
  body {
    background: url("/images/creator1.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>




<div class="flex-container-game">
  <form action="/creator/game-details" method="post" id="form-container-game">
    <h1 class="title">Step 1 - Game Details</h1>
    <input type="text" name="title" id="game-title" placeholder="Game Title" class="input-style"><br>
    <input type="text" name="description" id="game-description" placeholder="Description" class="input-style"><br>
    <label for="private">Private?</label>
    <input type="checkbox" name="private" id="private"><br>
    <button type="submit" class="btn-next">Submit</button>
  </form>
</div>