<h2>Step 3 - Invite Friends</h2>
<h3>Invite your friends to play your game!</h3>
<form action="/invite-friends" method="post">
  <label for="player-email">Email:</label>
  <input type="email" name="player-email" id="player-email">
  <button id="btn-invite">Invite more</button>
  <button class="btn-send" type="submit">Send</button>
</form>