<h2>Step 3 - Invite Friends</h2>
<h3>Invite your friends to play your game!</h3>
<form action="/creator/send-email/{{id}}" method="post">
  <label for="name">Your friends name:</label>
  <input type="text" name="name" id="player-name">
  <label for="email">Email:</label>
  <input type="email" name="email" id="player-email"> {{!-- <button id="btn-invite">Invite more</button> --}}
  <button class="btn-next" type="submit">Send</button>
</form>