<h2>Game name</h2>

<h3>All tasks</h3>


<a href="/creator/{{id}}/add-task"><button>Add task</button></a>

{{#each tasks}}
<p>{{this.title}}</p> 
<a href="/creator/{{this._id}}/edit-task"><button>Edit</button></a>
{{/each}}