<link rel='stylesheet' href='/stylesheets/style2.css' />

<br>
<h1 style="text-align: center; margin-top:50px;color:darkblue">Congratulations! You finished your journey!</h1>
<section class="cd-timeline js-cd-timeline">
    <div class="cd-timeline__container">
        {{#each gameSteps}}
        <div class="cd-timeline__block js-cd-block">
            <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
            </div>

            <div class="cd-timeline__content js-cd-content">
                <h2>{{this.title}}</h2>
                <p>{{this.description}}</p>
                <img class="image-history" style="max-width: 100%;" src="{{this.file}}" alt="">
                <span class="cd-timeline__date">{{this.location}}</span>
            </div>

        </div>
        {{/each}}


</section>