<h1>

    Congratulations</h1>

<ol>
    <li>
        <img src="http://placeimg.com/250/100/any" alt="">
        <p>Location</p>
    </li>
    <li>
        <img src="http://placeimg.com/250/100/any" alt="">
        <p>Location</p>
    </li>
    <li>
        <img src="http://placeimg.com/250/100/any" alt="">
        <p>Location</p>
    </li>
</ol>

<input type="email" placeholder="Email">