<style>
  body {
    background: url("/images/history.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }
</style>




<div class="flex-game-code fade-in">
  <h1 class="history-title">History of played games:</h1>
  <br> {{#each finishedGames}}
  <div>
    <a class="larger" href="/player/progress/{{this.game._id}}">{{this.game.title}}</a>
    {{/each}}
  </div>

</div>