{{!--
<div class="flex-container-game">
  <div id="form-container-game" class="fade-in">
  </div>
</div> --}}

<div id="history-game">
  <h1>History of played games:</h1>
  <br> {{#each finishedGames}}
  <div class="title-desc-section width-history">
    <a href="/player/progress/{{this.game._id}}">{{this.game.title}}</a>
  </div>
  {{/each}}

</div>